{{> header }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Team SFG</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nulla perspiciatis ducimus optio architecto qui, earum, quisquam modi repellendus animi adipisci dolorem. Corporis deserunt laudantium at quaerat. Ut, inventore quibusdam!</p>
    </div>
    <div class="col-4">
    <img src="assets/img/sfg.jpg" alt="" class="img-thumbnail">
</div>
</div>



{{>footer }}